# PostgreSQL
# ------------------------------------------------------------------------------
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432
POSTGRES_DB=chir
POSTGRES_USER=docker
POSTGRES_PASSWORD=docker
